# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TicTacToe/.vs/TicTacToe.slnx/v18/Browse.VC.opendb
TicTacToe/.vs/TicTacToe.slnx/FileContentIndex/a8691efd-a066-4a72-850e-a82ddd344d61.vsidx
